@import url("./about.css");
@import url("./resume.css");
@import url("./portfolio.css");
@import url("./blog.css");
@import url("./contact.css");
:root {
  --main-border-color: #2ad482;
  --main-text-color: #6d6d6d;
}

.page-content {
  background-color: white;
  padding-bottom: 50px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.page-content-item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
}

.page-content p {
  color: var(--main-text-color);
}

.main-btn {
  border: 2px solid var(--main-border-color);
  width: fit-content;
  padding: 8px 30px;
  transition: 0.4s;
  margin-top: 50px;
}
/*main button style*/
.main-btn:hover {
  background-color: var(--main-border-color);
}

.main-btn a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: rgb(77, 77, 77);
}

.main-btn:hover a {
  color: white;
}

.main-btn:hover {
  color: white;
}

@media only screen and (min-width: 996px) {
  .page-content {
    margin-left: 215px;
  }
  .page-content-item {
    padding: 50px;
  }
  .page-content-item:first-child {
    padding: 0;
  }
}
